.right-main-view-button-wrapper, .right-main-view-properties,.right-main-view-show-working-button {
    padding:10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.create-document-button {
    cursor: pointer;
    height:35px;
    border-radius: 3px;
    color: white;
    background-color: rgb(16, 79, 48);
    padding: 10px;
    border:none;
    width: 100px;
    margin: 5px;
}

.create-document-button-divider {
    padding:5px;
    width:50%;
}

.create-document-button-wrapper {
    display: flex;
}

.right-main-view-show-working-button {
    height: 300px;
    overflow-y: scroll;
}

.create-document-form .attach-file-form{
    padding: 20px;
}

.create-document-form, .attach-file-form > * {
    padding: 5px;
}


.file-view-list-item {
    padding: 10px;
    display: flex;
}

.file-view-list-item > *{
    padding: 10px;
}
